h1,
.user-menu a{
	text-shadow: 0  0 3px #000;
}

.search-box{
	float: right;
}
#ProcessPageSearchQuery{
	padding: 0.4em 1em;
	border: none;
	margin: 0.3em 0;
	color: #fff;
	outline: none;
	opacity: 1!important;
	text-align: right;
	line-height: 1em;
	width: 200px;
	font-size: 12px;

/* Search: */

border-radius: 13px;

background: #0067a5;
.box-shadow(0px 0px 1px rgba(255,255,255,0.15));
.box-shadow(inset 0px 0px 3px rgba(0,0,0,0.37));

}
#ProcessPageSearchQuery:focus{
	border-color: #fff;
	background: #fff;
	color: @gray;
	.box-shadow( 0 0 6px rgba(0,0,0,.3));
}

#fieldgroupContext{
	top: @innerPadding * 1.6!important;
	right: @innerPadding!important;
}


.ui-button,
.ui-button.ui-state-default{
	padding: 0.5em 0.8em;
	text-transform: uppercase;
	.button();
}
.ui-button.ui-state-hover{
	.button();
	.buttonHover();
}
.ui-button.ui-state-active{
	.buttonOn();
}

.view-site{
	float: right;
	a{
		.button();
		padding: 0 1em!important;
		margin: 0.3em 0 0 0.8em;
		display: block;
		line-height: 1.9em;
		border-color: #eee!important;
		.box-shadow(0 0 6px rgba(0,0,0,0.2));
	}
	a:hover{
		color: @adminAccent;
		.box-shadow(0 0 6px rgba(0,0,0,0.6));
		text-shadow: 1px 1px 1px #fff;
	}
}

// delete colors
.PageListMoveNote a,
#_WireTabDelete{
	color: @error;
}
#_WireTabDelete.on{
	border-color: @error!important;
}
#_WireTabDelete:hover{
	color: @errorDark;
}

.fright{
	float: right;
}

.fleft{
	float: left;
}

.align_left {
	float: left;
	margin: 0 1em 0.5em 0;
}

.align_right {
	float: right;
	margin: 0 0 0.5em 1em;
}

.align_center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

body.modal.modalNoMod{
	background: @grayLightest;
	.footer,
	.page-header{
		display: none!important;
	}
	.container{
		padding: 0;
		.inner{
			.border-radius(0);
			.box-shadow(none);
		}
	}
}
body.modal.modalMod{
	.nav-wrapper,
	.footer p,
	.nav-bread{
		display: none!important;
	}
}

// ---------------------------------------------------------------------------------
// overrides ---------------------------------------------------------------------------------
// ---------------------------------------------------------------------------------

table.AdminDataList tr td:first-child a{
	font-weight: 100!important;
	color: @adminAccentDark;
}

table.AdminDataList td span.ui-icon{
	bottom: auto!important;
}


#notices{
	padding: 0 0 1.5em 0;
	.ui-icon{
		margin-right: 0.3em;
	}
	li{
		background: transparent!important;
		border: none!important;
		text-shadow: 1px 1px 1px #000;
	}
	li.NoticeMessage.ui-state-highlight{
		color: @successLight;
	}
	li.NoticeWarning.ui-state-highlight{
		color: @notice;
	}
	li.NoticeError.ui-state-highlight{
		color: @errorLight;
	}
}
.login-body{
	#notices,
	.copy{
		position: fixed;

	}
	#notices{
		bottom: 0em;
		left: 2em;
		width: 100%;
		li{
		text-align: left;

		}
	}
	.copy{
		right: 2em;
		bottom: 1.6em;
	}
	.page-header{
		position: absolute;
		top: 50%;
		margin: -230px 0 0 0;
		text-align: center;
		width: 100%;

		h1{
			font-size: 2.3em;
			color: #555;
		}
	}
	.content{
		height: 300px;
		width: 300px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -150px 0 0 -150px;
	}
	.Inputfield,
	ul.Inputfields #login_name,
	ul.Inputfields #login_pass {
		width: 100%!important;
	}
}
#submit_publish,
#submit_save,
#Inputfield_submit{
	.buttonGo();
	float: right;
}
#submit_publish:hover,
#submit_save:hover,
#Inputfield_submit:hover{
	.buttonGoHover();
	float: right;
}

#_ProcessPageEditDelete.on,
#_WireTabDelete.on{
	.buttonCancelOn();
}

#_ProcessPageEditDelete{

}

#debug{
	.container{
		padding: 0;
	}
	text-shadow: none;
}